<nav class="nav ">
  <figure routerLink="/main" id="logo" class="">
    <button mat-button>
      <img src="../../assets/img/log.png" alt="" srcset="" width="100">
    </button>
  </figure>
  <button mat-button *ngIf="router.url == '/main'" (click)="openDialog()" class="mobile">
    <mat-icon>search</mat-icon> <small>Pesquisar usuário</small>
  </button>
  <button mat-button *ngIf="router.url == '/main'" routerLink="/splash" class="mobile">
    <mat-icon>logout</mat-icon> <small>Sair</small>
  </button>
</nav>