<div class="search">
  <button mat-icon-button class="close" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="head">
    <h1>Buscar usuário</h1>
    <p>
      Digite o CPF e a senha para liberação de acesso essa senha não é a mesma
      do login do sistema
    </p>
  </div>
  <div class="body">
    <form class="search-form" autocomplete="off">
      <mat-form-field class="input-full-width">
        <input
          matInput
          placeholder="CPF"
          value=""
          autofocus
          autocomplete="off"
          [(ngModel)]="data.cpf"
          name="cpf"
        />
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input
          matInput
          placeholder="Senha de liberação"
          value=""
          type="password"
          autocomplete="off"
          [(ngModel)]="data.password"
          name="password"
        />
      </mat-form-field>
      <button
        mat-flat-button
        class="btn"
        color="primary"
        class="search-btn"
        [mat-dialog-close]="data"
      >
        Pesquisar
      </button>
    </form>
  </div>
</div>
