:hostit-content-doc {
    width: 100%;
    background: #eee;

    .flex {
        display: flex;

        .content-doc {
            flex: 3;
        }

        .attachment-doc {
            flex: 2;
        }
    }

    .title {
        input {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .btn-close {
        top: -27px;
        left: 10px;
    }

    .content-doc,
    .attachment-doc {
        margin: 20px 0;

        .head {
            margin-top: 30px;
        }

        .body {
            figure {
                margin: 0;
            }

            .list-detais {
                .cdk-table {
                    width: 100%;

                    .action {
                        text-align: right;
                    }
                }

                strong {
                    display: block;
                    font-size: 14px;
                    line-height: 0;
                }

                section {
                    line-height: 0;

                    span {
                        display: block;
                        font-size: 14px;
                    }

                    button {
                        width: 18px !important;
                        height: 21px !important;
                    }
                }

                .detail {
                    display: flex;
                    align-items: center;

                    mat-form-field {
                        margin-right: 15px;
                    }

                    button {
                        position: relative;
                        top: -8px;
                        min-width: auto;
                    }
                }
            }
        }
    }

    @media(max-width: 981px) {
        #contentdoc {
            height: 90vh;
            overflow: auto;

            .flex {
                display: block;

            }
        }
    }
}