<mat-card class="animated rubberBand">
    <h4 class="title">
            <svg xmlns="http://www.w3.org/2000/svg" width="112.579" height="121.769" viewBox="0 0 112.579 121.769">
                <path id="União_4" data-name="União 4" d="M49.4,121.769V110.99A56.245,56.245,0,0,1,0,55.116,56.322,56.322,0,0,1,41.355.829V21.516A36.771,36.771,0,0,0,49.4,91.229V69.676a16.083,16.083,0,1,1,13.785,0V91.229a36.77,36.77,0,0,0,4.6-71.043V0h0A55.83,55.83,0,0,1,85.567,7.031,56.322,56.322,0,0,1,78.2,106.982a55.718,55.718,0,0,1-15.018,4.008v10.779Z" />
              </svg> <br>
        Faça seu login  </h4>
    <form class="login-form">
        <mat-form-field class="input-full-width">
            <input matInput placeholder="CPF" value="" autofocus>
        </mat-form-field>

        <mat-form-field class="input-full-width">
                <input matInput placeholder="Senha" value="">
        </mat-form-field> 
        <button mat-raised-button class="btn" color="secondary" routerLink="/main">Entrar</button>
    </form>
    <a href="">Esqueci a senha ></a>
</mat-card>