<mat-card class="animated rubberBand">
    <h4 class="title">Faça seu login  </h4>
    <form class="login-form">
        <mat-form-field class="input-full-width">
            <input matInput placeholder="CPF" value="" autofocus>
        </mat-form-field>

        <mat-form-field class="input-full-width">
                <input matInput placeholder="Senha" value="">
        </mat-form-field> 
        <button mat-raised-button class="btn" color="secondary" routerLink="/main">Entrar</button>
    </form>
    <a href="">Esqueci a senha ></a>
</mat-card>