<div class="splash">
  <div class="content">
    <div class="logo">
       <img src="../../assets/img/logo_white.png" alt="" width="140"> 
      <strong>Kuirin</strong>
    </div>
    <p> A melhor e mais segura <br> carteira documentos</p>

    <div class="row">
      <button mat-flat-button color="light" class="btn animated bounceInLeft" routerLink="/login">Entrar</button>
      <button mat-flat-button color="accent" class="btn animated bounceInRight" routerLink="/register">Cadastrar</button>
    </div>
  </div>
</div>