<mat-card class="animated fadeIn card-register">
  <img src="../../assets/img/favicon.png" alt="" width="80" />
  <h4 class="title">Registre-se</h4>
  <form class="login-form">
    <mat-form-field class="input-full-width" appearance="fill">
      <input matInput placeholder="Nome completo" value="" />
    </mat-form-field>
    <mat-form-field class="input-full-width" appearance="fill">
      <input matInput placeholder="CPF" value="" />
    </mat-form-field>
    <mat-form-field class="input-full-width" appearance="fill">
      <input matInput placeholder="E-mail" value="" />
    </mat-form-field>
    <mat-form-field class="input-full-width" appearance="fill">
      <input matInput placeholder="Senha" value="" />
    </mat-form-field>
    <mat-form-field class="input-full-width" appearance="fill">
      <input matInput placeholder="Repita a senha" value="" />
    </mat-form-field>
    <button routerLink="/main" mat-flat-button class="btn" color="accent">
      Cadastrar
    </button>
  </form>
  <a routerLink="/login">Fazer login</a>
</mat-card>
