:hostit-register {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    min-height: 100%;
    width: 100%;
    padding-top: 50px;
    svg{
        display: block;
        margin: 0 auto;
        width: 64px;
        text-align: center;
    }

    .mat-card {
        text-align: center;
        padding: 49px 10px;
        min-width: 400px;

        .title {
            margin-bottom: 52px;
        }

        a {
            margin-top: 35px;
            display: block;
            color: #424448;
        }
    }

    .login-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .input-full-width {
        display: block;
        margin: 0 auto 10px;
        width: 80%; 

    }
    @media(max-width: 510px){
        .mat-card{
            min-width: auto;
            max-width: 100%;
            width: 100%;
            margin: 0;
            margin-top: -50px;
        }
        it-register{
            padding-top: 0;
        }
    }
}