:hostit-register {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    min-height: 100%;
    width: 100%;
    padding-top: 50px;

    .mat-card {
        text-align: center;
        padding: 49px 10px;
        min-width: 400px;

        .title {
            margin-bottom: 52px;
        }

        a {
            margin-top: 35px;
            display: block;
            color: #424448;
        }
    }

    .login-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;

        .btn {
            color: var(--primary);
            margin-top: 40px !important;
            min-width: 80% !important;
            background: transparent;
            border: 2px solid var(--primary);

            &:hover {
                background: var(--primary);
                color: #fff !important;
            }
        }
    }

    .input-full-width {
        display: block;
        margin: 0 auto 30px;
        width: 80%; 

    }
    @media(max-width: 510px){
        .mat-card{
            min-width: auto;
            max-width: 90%;
            width: 90%;
            margin: 70px 0;
        }
    }
}