<mat-card class="animated fadeIn">
        <img src="../../assets/img/favicon.png" alt="" width="80">
        <h4 class="title">Registre-se </h4>
        <form class="login-form">
                <mat-form-field class="input-full-width">
                        <input matInput placeholder="Nome completo" value="">
                </mat-form-field>
                <mat-form-field class="input-full-width">
                        <input matInput placeholder="CPF" value="">
                </mat-form-field>
                <mat-form-field class="input-full-width">
                        <input matInput placeholder="E-mail" value="">
                </mat-form-field> 
                <mat-form-field class="input-full-width">
                        <input matInput placeholder="Senha" value="">
                </mat-form-field>
                <mat-form-field class="input-full-width">
                        <input matInput placeholder="Repita a senha" value="">
                </mat-form-field>
                <button routerLink="/main" mat-raised-button class="btn" color="secondary">Cadastrar</button>
        </form>
        <a routerLink="/login">Fazer login</a>
</mat-card>